{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </head>
    {% for pizza in pizzas %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ pizza.naam }}</h5>
            <a href="{{ path('app_order', {'id': 'x'}) }}" class="btn btn-primary">Bestellen</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}