{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </head>
    {% for pizzaRepository in pizza %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ pizza.naam }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Bestellen</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}