{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pizza">Pizza's</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </head>
    <h2>test</h2>
    {#{% for category in categories %}#}
    {#    <li>{{ category }}</li>#}
    {#{% endfor %}#}
{% endblock %}